[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "Llama-3.2-1B-Instruct-GGUF"]
	path = Llama-3.2-1B-Instruct-GGUF
	url = https://huggingface.co/MaziyarPanahi/Llama-3.2-1B-Instruct-GGUF
